* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

  /* shared-style  */

.color-main {
    color:#30B868;
}  
.btn { 
    font-size: 16px;
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    color: #ffff;
}

.btn a{text-decoration: none;
    color: #ffff;
}

.section-heading {
    text-align: center;
    margin: 0 auto;
}


 /* main style */

nav {
    background-color: #ffff;
    padding: 16px 120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 139px;
    height: 60;
}  

nav .menu{ 
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.banner {
    position: relative;
    width: 100%;
    max-height: 1363px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 134px;
}

.banner-image {
    position: absolute;
    inset: 0;
    z-index: -2;
}

.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.40);
    z-index: -1;
}

.banner-content {
    max-width: 860px;
    max-height: 379px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

.banner-tag {
    background-color: #ffffff;
    color: #30B868;
    padding: 12px 16px;
    border-radius: 1000px;
    margin-bottom: 16px;

    display: inline-flex;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.banner-tag img {
    width: 16px;
    height: 16px;
    display: block;
}

.banner-header {
    font-size: 72px;
    font-weight:bold;
    margin: 16px;}

.banner-text {
    max-width: 720px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 48px;
    }

.hero-button {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.hero-2 {
    background: transparent;
    border: 1px solid #ffffff;
}

.hero-1 a,
.hero-2 a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.hero-1 img,
.hero-2 img{
    height: 20px;
    width: 20px;
}

#notes {
    padding-top: 120px;
}

#notes .notes-container {
    margin: 0 auto;
    width: 70%;
    max-width: 1360px;

}

.section-heading h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;

}

.section-heading p{
    color: #627382;
    font-size: 16;
    font-weight:400;
    line-height: 20px;
    margin-bottom: 44px;
}

#notes .notes-container .notes-box{
    display:flex ;
    gap: 24px;
}

.notes-box .notes-card{
    width: 322px;
    height: 300px;
    box-shadow: 0 0px 8px 0 #0000004c;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 24px;
}

.notes-card .icon-circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 24px;
}

.icon-circle img{
    height: 32px;
    width: 32px;
}

.notes-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}

.notes-card p{
    font-size: 16px ;
    color: #627382;
    line-height: 20px;
    text-align: center;

}