* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

  /* shared-style  */

.color-main {
    color:#30B868;
}  
.btn { 
    font-size: 16px;
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    color: #ffff;
}

.btn a{
    text-decoration: none;
    color: #ffff;
}

.btn:hover { 
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    color: #30B868;
    border: 1px solid #30B868;
}

.btn:hover::after{
    width: 100%;
}

.btn a:hover {
    color: #30B868;
    background-color: #ffffff;
}
.btn a:hover::after {
    width: 100%;
}

.section-heading {
    text-align: center;
    margin: 0 auto;
}


 /* main style */

nav {
    background-color: #ffff;
    padding: 16px 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 139px;
    height: 60px;
}  

nav .menu{ 
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

nav .menu a:hover {
    color: #30B868;
}

nav .menu a:hover::after {
    width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    max-height: 1363px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 134px;
}

.banner-image {
    position: absolute;
    inset: 0;
    z-index: -2;
}

.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.40);
    z-index: -1;
}

.banner-content {
    max-width: 860px;
    text-align: center;
    color: #ffffff;
}

.banner-tag {
    background-color: #ffffff;
    color: #30B868;
    padding: 12px 16px;
    border-radius: 1000px;
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-tag img {
    width: 16px;
    height: 16px;
}

.banner-header {
    font-size: 72px;
    font-weight:700;
    margin-bottom: 16px;}

.banner-text {
    max-width: 720px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 48px;
    }

.hero-button {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.hero-2 {
    background: transparent;
    border: 1px solid #ffffff;
}

.hero-1 a,
.hero-2 a, 
.ea a{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.hero-1 img,
.hero-2 img,
.ea img{
    height: 20px;
    width: 20px;
}

#notes {
    padding-top: 120px;
}

#notes .notes-container {
    margin: 0 auto;
    max-width: 1360px;

}

.section-heading h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;

}

.section-heading p{
    color: #627382;
    font-size: 16px;
    font-weight:400;
    line-height: 20px;
    margin-bottom: 44px;
}

#notes .notes-container .notes-box{
    display:flex ;
    gap: 24px;
}

.notes-box .notes-card{
    width: 322px;
    height: 300px;
    box-shadow: 0 0px 8px 0 #0000004c;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

.notes-card:hover{
    width: 322px;
    height: 300px;
    box-shadow: 0 0px 8px 0 #30B868;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

.notes-card .icon-circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 24px;
}

.icon-circle img{
    height: 32px;
    width: 32px;
}

.notes-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}

.notes-card p{
    font-size: 16px ;
    color: #627382;
    line-height: 20px;
    text-align: center;

}

#second-brain {
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
    box-sizing: border-box;
}

.sb-image img {
    width: 100%;
    height: auto;
    display: block;
}

.sb-content {
    max-width: 520px;
}

.sb-content h4 {
    font-size: 16px;
    font-weight:500;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #30B868;
}

.sb-content h2 {
    font-size: 48px;
    font-weight:bold;
    margin-bottom: 16px;
    margin-top: 16px;
    color: #001931;
    text-transform: capitalize;
}

.sb-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.sb-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sb-list li {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
}

.sb-list img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    flex-shrink: 0;
}

#early-access{
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.ea-container{
    max-width: 1360px;
    background-color: #F7F6F2;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    padding: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ea-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}

.message{
    font-size: 16px;
    font-weight:400;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

.btn.ea {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    box-shadow: 0 10px 20px 0 #0000003e;
}
.btn.ea a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.disclaimer{
    font-size: 16px;
    font-weight:400;
    color: #627382;
    line-height: 20px;
}

footer {
    background-color: #001931;
    color: #ffffff;
}

.footer-container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo img {
    width: 139px;
    height: auto;
    display: block;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 220px;
}
.social h4 {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.social a {
    display: inline-flex;
    align-items: center;
}

.social img {
    width: 20px;
    height: 20px;
}

.social img:hover {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0px 8px 0 #30B868;
}

footer hr {
    max-width: 1360px;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #fafafa36;
}

.copyright {
    max-width: 1360px;
    margin: 0 auto;
    padding: 24px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}