* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

  /* shared-style  */

.color-main {
    color:#30B868;
}  
.btn { 
    font-size: 16px;
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    color: #ffff;


}

 /* main style */

nav {
    background-color: #ffff;
    padding: 16px 120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 139px;
    height: 60;
}  

nav .menu{ 
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}